.App {
  text-align: center;
  background-color: #F1F2F2;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #666;
  overflow: auto;
}

.main {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 200px;
  right: 0px;
  overflow: auto;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  left: 0px;
  overflow: auto;
  background-color:#24316C;
}

.sidebar a {
  font-size: 22px;
  color: #F1F2F2; 
}

.sidebar a:hover {
  color: #D3D3D3;
}

a {
  color: #2F4CB3;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #24316C;
}

select {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

input {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

button {
  width: 200px;
  height: 40px;
  background-color: #2F4CB3;
  color: #F1F2F2;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #2b4397;
}

button:active {
  background-color: #314385;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #D3D3D3;
}

tr {
  display: table-row;
  background-color: #8597d6;
}

.alt-row {
  background-color: #818ebe;
}

th {
  background-color: #2F4CB3;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.columns-1-2 {
  columns: 1 / 3;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.tasking-card {
  width: 600px;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}